* {
    margin: 0;
    padding: 0;
}

.top {
}

.header {
    
}

.header-logo {
    padding: 40px 0 0 0;
    margin: 0 0 69px 0;
}

.header-nav {
    padding: 40px 0 0 0;
    margin: 0 0 69px 0;
}

.header-lists {
}

.header-link {
}

.top-content {
    margin: 0 0 53px 0;
}

.top-info {

}

.title {
    margin: 74px 0 17px 0;
}

.content {
    margin: 0 0 16px 0;
}

.top-img {
    margin: 34.7px 0 147.4px 0;
}

.top-content-wrp-btn {
    margin: 0 0 65px 0;
}

.top-content-btn {
    padding: 0 0 32px 0;
}

.top-logos {
    margin: 59px 0 49px 0 ;
}

.top-logos-list {
}