* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 600;
    font-style: 16px;
    font-style: normal;
    color: black;
}
a {
    text-decoration: none;
}

.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 0 auto;

}

.top {
}

.header {
    padding: 40px 0 0 0;
    margin: 0 0 84px 0;
}



.header-logo {
   margin: 0 500px 0 0;
}

.header-nav {
    display: flex;
}

.header-lists {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 30px;
  
}

.header-link {
 
}

.header-links{
    color: #000000;
}


.top-content {
    margin: 0 0 53px 0;
    
    
}

.top-content-wrp{
    display: flex;
}

.top-info {
  max-width: 522px;
  margin: 0 39px 0 0 ;  
    
}

.title {
    padding: 0 0 17px 0;
    font-size: 60px;
    line-height: 70px;  
    font-weight: 700;
;
}

.content {
    max-width: 466px;
    padding: 0 0 37px 0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #888888;

}

.top-img {
    max-width: 545px;
}

.top-content-wrp-btn {
    display: flex;
    gap: 72px;
   
}

.top-content-btn {
    box-sizing: border-box;
    padding: 15px 35px;
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background-color: #F25822;
    color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 4px 4px 8px;
    border: none; 
}

.top-content-btn-link{
    border: none;
    color: #AAAAAA;
    background-color: white;
}

.top-logos {
    margin: 59px 0 0 0;
    display: block;
}

.top-logos-list {
    display: flex;
    list-style: none;
    gap: 48px;

    
}